<div class="container">
  <section class="actions">
    <span>{{ breadcrumbs }}</span>
    <button mat-flat-button class="actions-button" [routerLink]="['/dashboard/entrepot/creation']">Créer un
      entrepot</button>
  </section>

  <section class="table-section">
    <mat-card>
      <mat-card-content>
        <table mat-table [dataSource]="entrepots">
          <!-- Position Column -->
          <ng-container matColumnDef="Libelle">
            <th mat-header-cell *matHeaderCellDef> Libelle </th>
            <td mat-cell *matCellDef="let row"> {{ row.libelle }} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="Superficie m2">
            <th mat-header-cell *matHeaderCellDef> Superficie (M°2) </th>
            <td mat-cell *matCellDef="let row"> {{ row.superficie }} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="Placer">
            <th mat-header-cell *matHeaderCellDef> Placer </th>
            <td mat-cell *matCellDef="let row"> {{ row.placer }} </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
              <div>
                <button mat-icon-button [routerLink]="['/dashboard/entrepot', row.id, 'edition']">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedEntrepotsColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedEntrepotsColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </section>
</div>
