<div class="container">
  <section class="actions">
    <span>{{ breadcrumbs }}</span>
    <button mat-flat-button [routerLink]="['/app/dashboard/entrepot/creation']"
      class="shared_btn shared_btn-primary">Créer un
      entrepot</button>
  </section>

  <section class="table-section">
    <mat-card>
      <mat-card-content>
        <h3 class="form_title">{{ title }}</h3>

        <table mat-table [dataSource]="entrepots">
          <ng-container matColumnDef="Libelle">
            <th mat-header-cell *matHeaderCellDef> Libelle </th>
            <td mat-cell *matCellDef="let row"> {{ row.libelle }} </td>
          </ng-container>

          <ng-container matColumnDef="Superficie m2">
            <th mat-header-cell *matHeaderCellDef> Superficie (M°2) </th>
            <td mat-cell *matCellDef="let row"> {{ row.superficie || 0 }} </td>
          </ng-container>

          <ng-container matColumnDef="Latitude">
            <th mat-header-cell *matHeaderCellDef> Latitude </th>
            <td mat-cell *matCellDef="let row"> {{ row.lattitude || 0 }} </td>
          </ng-container>

          <ng-container matColumnDef="Longitude">
            <th mat-header-cell *matHeaderCellDef> Longitude </th>
            <td mat-cell *matCellDef="let row"> {{ row.longitude || 0 }} </td>
          </ng-container>

          <ng-container matColumnDef="Placer">
            <th mat-header-cell *matHeaderCellDef> Placer </th>
            <td mat-cell *matCellDef="let row"> {{ row.placer || 'N/A' }} </td>
          </ng-container>

          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
              <div>
                <button mat-icon-button [routerLink]="['/app/dashboard/entrepot', row.id, 'edition']"
                  class="shared_btn-secondary shared_btn_Actions">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="deleteEntrepot(row.id)"
                  class="shared_btn-secondary shared_btn_Actions">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedEntrepotsColumns" class="table_header"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedEntrepotsColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </section>
</div>
