.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  position: absolute;
  top: 65px;
  bottom: 0;
  left: 0;
  right: 0;
}
.app-sidenav {
  width: 300px;
  border: none;
}
.app-sidenav-content {
  padding: 3px;
  border-radius: 10px;
}

.sidebar-item {
  display: flex;
  gap: 10px;
}
.wrapper-item {
  display: flex;
  justify-content: space-between;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  justify-content: space-between;
  background-color: #fafafb;
}
