<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav class="app-sidenav" mode="side" opened>
    <mat-nav-list>
      <div *ngFor="let option of sideBarMennus">
        <mat-list-item routerLink="{{ option.link }}">
          <div class="wrapper-item">
            <div class="sidebar-item">
              {{ option.title }}
            </div>
            <div>{{ option.numberOfItems }}</div>
          </div>
        </mat-list-item>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet>
      <div class="app-sidenav-content"></div>
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
