<div class="wrapper">
  <div class="wrapper-bg-image"></div>

  <div class="wrapper-content">
    <div class="header-form-logo">
      <img src="{{ loginFormLogo }}" alt="logo of form" height="245px" />
    </div>

    <div class="wrapper-form-content">
      <h2 class="form-title">{{ formTitle }}</h2>

      <form [formGroup]="LoginForm" (ngSubmit)="signIn()" class="form-wrapper" >
        <div>
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="contact@gmail.com" formControlName="email" required>
          </mat-form-field>
        </div>

        <div class="form-field">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Mot de passe</mat-label>
            <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password" required>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
              <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        </div>

        <div>
          <button mat-button class="form-submit" type="submit" [disabled]="!LoginForm.valid">{{ formTitle }}</button>
        </div>
      </form>

      <div>
        <span>Vous n'avez pas de compte ?
          <a routerLink="['/register']" class="register-link">S'inscrire</a>
        </span>
      </div>
    </div>
  </div>
</div>
