.wrapper {
  display: flex;
  height: 100%;

  &-bg-image {
    flex: 2;
    background-image: url('../../../assets/img/login_bg.png');
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &-content {
    flex: 1;
    padding: 20px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: auto;

    .wrapper-form-logo {
      display: flex;
      flex-direction: column;
    }

    .wrapper-form-content {
      .form-title {
        color: #cb7b4b;
      }

      .form-wrapper {
        display: flex;
        flex-direction: column;
        margin: 30px;

        .form-field {
          width: 100%;
        }

        .form-submit {
          color: #fff;
          background-color: #cb7b4b;
          padding: 20px 80px;
          border-radius: 5px;
        }
      }

      .register-link {
        text-decoration: none;
        color: #cb7b4b;
      }
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .wrapper-bg-image {
    display: none;
  }

  .wrapper-content {
    margin-top: 1rem;
  }
}
