.mat-title-wrapper {
  text-align: right;
}

.mat-dialog-wrapper {
  text-align: center;
  height: 100%;
}
.mat-content-wrapper {
  text-align: center;
}
.mat-title-color {
  color: #cb7b4b;
}
.mat-content-description {
  width: 479px;
  text-align: center;
  margin: 25px auto;
}
.mat-action-wrapper {
  display: flex;
  gap: 5px;
  justify-content: space-evenly;
}
.mat-title-wrapper-button {
  background-color: #fff5f0;
  color: #cb7b4b;
  margin: 25px 20px;
}

.shared_btn {
  padding: 20px 80px;
  border-radius: 5px;
}
.shared_btn-primary {
  color: #fff !important;
  background-color: #cb7b4b !important;
}
.shared_btn-secondary {
  color: #cb7b4b !important;
  background-color: #fff6f1 !important;
}
